# Entornos Virtuales
.venv/
venv/
env/
backend/.env


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
*.egg
*.whl


# Django
*.sqlite3
db.sqlite3
/backend/media/
/staticfiles/
*.log
*.pot
*.mo


# Archivos de SO y Editores
# Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores de código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


# Otros
.coverage
htmlcov/