# --- MySQL DigitalOcean ---
DB_NAME=example
DB_USER=example
DB_PASSWORD=example
DB_HOST=example
DB_PORT=example

# --- Clave Secreta de Django ---
SECRET_KEY=example
DJANGO_DEBUG=false
ALLOWED_HOSTS=example

# --- APIS ---

# --- Configuración de Email (Gmail) ---
EMAIL_HOST_USER=example
EMAIL_HOST_PASSWORD=example
DEFAULT_FROM_EMAIL=example

# --- Configuración de Outh (Google) ---
GOOGLE_CLIENT_ID=example
GOOGLE_CLIENT_SECRET=example

# --- Configuración de Captcha (hCaptcha) ---
HCAPTCHA_SITE_KEY=example
HCAPTCHA_SECRET_KEY=example

